h2{
    margin: 10px 20px;
    padding-top: 10px;
    color: #6E7479;
}
p{
    margin: 1px;
    margin-left: 20px;
    color: #C2C3C5;
}

.Item{

    margin-top: 20px;
    justify-content: space-between;

    h3{
        margin: 20px;
        padding-top: 20px;
    }

    table{
         
        border: none;
        width: 100%;
        margin: 0 auto;
       background: #fff;
       text-align: center;
       border-radius: 10px;
       padding: 0 0px;
       border-collapse:collapse; 
    }

    .Text{
        text-align: left;
        padding: 20px;
        padding-left: 50px;
        width: 45%;
    }

    .HText{
        text-align: left;
        width: 45%;
    }
    
    table thead tr,
    table tbody tr{
        transition: all .3s ease;
        
    }
    td{
        border: none;
        border-bottom: 1px solid rgba(175, 175, 175, 0.288);
    }    
    table thead tr th,
    table thead tr td,
    table tbody tr th,
    table tbody tr td{
        vertical-align: top;
        border-left: 0;
        transition: all .3s ease;
        margin: 0;
        padding: 20px;
        
       
    }
    
    table thead tr th{
        margin: 0;
        font-weight: 400;
        color: #6E7479;
        vertical-align: bottom; 
        background: #F9F9F9;
        padding: 10px 50px;
        text-align: center;
    }
    
    


    .Remove{
        a{
            color: #ED6A5A;
            width: 60px;
            box-shadow: 0 4px 8px 0 rgba(237, 106, 90, .4);
            transition: 0.4s;
           
            
            &:hover{
               box-shadow: none;
            }
        }
    }
    .Status{
        a{
            text-decoration: none;
            background: #9BC1BC;
            border-radius: 4px;
            padding: 4px 8px;
            color: #fff;
            box-shadow: 0 4px 8px 0 rgba(155, 193, 188, .4);
            transition: 0.4s;
            
            &:hover{
               box-shadow: none;
            }
        }
    }
}